/* styles.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://images.unsplash.com/photo-1493673272479-a20888bcee10?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2970&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Verdana, sans-serif;
  color: white;
}

.top-menu {
  background-color: #05386b;
  /* Nav bar background color */
  padding: 10px;
}

.menu {
  text-align: right;
  padding: 10px;
}

.menuitem {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-weight: bold;
}

.menuitem:hover {
  text-decoration: underline;
  background-color: #ddd;
}

.welcome-header {
  text-align: center;
  padding: 20px;
  color: #ffffff;
  /* Header text color */
  display: flex;
  /* Use flexbox */
  flex-direction: column;
  /* Arrange children vertically */
  justify-content: center;
  /* Center vertically */
  align-items: center;
  /* Center horizontally */
  height: 100vh;
  /* Make it take up the full viewport height */
}

.container {
  display: flex;
}

.column {
  flex: 1;
  margin: 13px;
  padding: 25px;
  position: relative;
  /* Add this line */
  background-image: linear-gradient(
    rgba(5, 56, 107, 0.5),
    rgba(5, 56, 107, 0.5)
  );
  /* Add this line */
  backdrop-filter: blur(5px);
  /* Add this line */
  color: white;
  line-height: 2;
  border-radius: 20px;
}

.footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
  font-size: 12px;
  width: 100%;
  color: black;
}
